<div class="flex flex-col gap-2">
  <!-- HEADER -->
  <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center gap-4">
    <div>
      <h2 class="text-2xl font-bold text-slate-800">Produtos</h2>
      <p class="text-slate-500 text-sm">Gerencie os produtos do seu estoque.</p>
    </div>
    <div class="flex flex-col sm:flex-row items-center gap-4 w-full sm:w-auto">
      <z-button (click)="openModalCadastro()"
        class="hidden sm:flex sticky z-20 bottom-0 w-full cursor-pointer hover:opacity-80 transition-colors">
        Adicionar Produto
      </z-button>
    </div>
  </div>

  <!-- CONTENT -->
  <div class="w-full">
    @if (listItens().length > 0) {
    <!-- DESKTOP TABLE VIEW -->
    <div class="hidden sm:block">
      <z-card>
        <div class="overflow-hidden">
          <table class="w-full text-left border-collapse">
            <thead>
              <tr class="border-b border-slate-200 bg-slate-50/50">
                <th class="p-4 font-semibold text-slate-800 w-4/6">Nome</th>
                <th class="p-4 font-semibold text-slate-800 w-3/6">Categoria</th>
                <th class="p-4 font-semibold text-slate-800 w-3/6">Un.Medida</th>
                <th class="p-4 font-semibold text-slate-800 w-1/6">Qtd</th>
                <th class="p-4 font-semibold text-slate-700 text-center w-1/6">Ações</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-slate-100">
              @for (itens of listItens(); track itens.id) {
              <tr class="hover:bg-slate-50/80 transition-colors group cursor-pointer" (click)="verItem(itens)">
                <td class="p-4 text-slate-600 font-normal w-4/6">{{ itens.name }}</td>
                <td class="p-4 w-3/6">{{ itens.category }}</td>
                <td class="p-4 w-3/6 truncate">{{itens.unitMeasureQtd + ' ' + itens.unitMeasureEnum }}</td>
                <td class="p-4 w-1/6">{{ itens.quantity }}</td>
                <td class="p-4 w-1/6">
                  <div class="flex gap-2 justify-center">
                    <z-button zSize="sm" zType="secondary"
                      class="text-sm font-semibold text-[#13325b] hover:bg-[#13325b/70] hover:text-white cursor-pointer opacity-80 hover:opacity-100">
                      detalhes
                    </z-button>
                  </div>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
        <div class="p-4 border-t border-slate-100 flex justify-center justify-self-center gap-4 sm:justify-end">
          <div class="flex items-center gap-2">
            <span class="text-sm text-slate-500 whitespace-nowrap">Itens por página:</span>
            <input type="number" [ngModel]="pageSize()"
              (ngModelChange)="pageSize.set($event); pageIndex.set(1); getAllItens()"
              class="w-16 px-2 py-1 border border-slate-200 rounded text-sm focus:outline-none focus:ring-1 focus:ring-slate-400" />
          </div>
          <z-pagination [zPageIndex]="pageIndex()" [zTotal]="totalPages()"
            (zPageIndexChange)="pageIndex.set($event); getAllItens()" />
        </div>
      </z-card>
    </div>

    <!-- MOBILE CARD VIEW -->
    <div class="flex flex-col gap-3 sm:hidden">
      @for (itens of listItens(); track itens.id) {
      <z-card class="py-4 px-0">
        <div class="flex flex-col gap-4">
          <div class="flex gap-3">
            <div class="w-10 h-10 p-2 rounded-lg bg-slate-200 flex items-center justify-center">
              <!-- <ng-icon name="lucidePackage"></ng-icon> -->
              <i class="material-symbols-outlined">mixture_med</i>
            </div>
            <div class="flex flex-col gap-1">
              <span class="text-slate-800 font-semibold text-xs">{{ itens.name }}</span>
              <div class="flex gap-2">
                <span
                  class="w-max px-2 py-0.5 rounded-full flex items-center gap-1 bg-[#eef2f7] text-blue-500 font-semibold text-xs">
                  <ng-icon size="10" name="lucideTag"></ng-icon> {{
                  itens.category
                  }}</span>
                <span
                  class="w-max px-2 py-0.5 rounded-full flex items-center gap-1 bg-[#d1fae5] text-[#059669] font-semibold text-xs">
                  <ng-icon size="14" name="lucideBinary"></ng-icon>
                  {{ itens.unitMeasureQtd + ' ' + itens.unitMeasureEnum}}</span>
              </div>
            </div>
          </div>
          <div class="flex px-2 py-0.5 items-center gap-1 mt-2 w-max px-2 py-0.5 rounded-full flex items-center gap-1"
            [class]="itens.quantity ?? 0 <= 0 ? 'text-green-600' : 'text-red-600'">
            <span class="flex items-center gap-0 text-xs font-medium">
              <i class="material-symbols-outlined">123</i>
              Quantidade: {{ itens.quantity }}</span>
          </div>
          <div class="border-t pt-[10px] border-slate-200 pt-3 flex gap-2">
            <z-button zSize="sm" zType="secondary" class="flex-1 cursor-pointer" (click)="verItem(itens)">
              Ver detalhes
            </z-button>
          </div>
        </div>
      </z-card>
      }
      <div class="mt-4 flex flex-col gap-3 items-center justify-center">
        <z-pagination [zPageIndex]="pageIndex()" [zTotal]="totalPages()"
          (zPageIndexChange)="pageIndex.set($event); getAllItens()" />
        <div class="flex flex-col items-center gap-2">
          <span class="text-xs text-slate-500 whitespace-nowrap">Itens por página</span>
          <input type="number" [ngModel]="pageSize()"
            (ngModelChange)="pageSize.set($event); pageIndex.set(1); getAllItens()"
            class="flex items-center justify-center w-15 px-2 py-1 border border-slate-200 rounded text-sm focus:outline-none focus:ring-1 focus:ring-slate-400" />
        </div>

        <z-button (click)="openModalCadastro()" zShape="circle"
          class="fixed z-50 bottom-8 right-8 !w-12 !h-12 shadow-[0_10px_25px_-5px_rgba(19,50,91,0.4)] flex items-center justify-center hover:scale-110 active:scale-95 transition-all duration-300 bg-[#13325b] text-white border-none group">
          <i
            class="material-symbols-outlined !text-[36px] transition-transform duration-500 group-hover:rotate-90">add</i>
          <span
            class="absolute right-full mr-4 bg-slate-800 text-white px-3 py-1.5 rounded-md text-xs font-medium opacity-0 group-hover:opacity-100 transition-opacity whitespace-nowrap pointer-events-none shadow-xl">
            Adicionar Novo Produto
          </span>
        </z-button>



      </div>

    </div>
    } @else {
    <!-- EMPTY STATE (Shared) -->
    <z-card>
      <div class="p-12 text-center">
        <div class="flex flex-col items-center gap-2 text-slate-400">
          <p class="text-lg font-medium">Nenhum produto encontrado</p>
          <p class="text-sm">Clique em "Adicionar produto" para começar.</p>
        </div>
      </div>
    </z-card>
    }
  </div>
</div>

<ng-template #package>
  <ng-icon size="18" class="text-slate-500" name="lucidePackage"></ng-icon>
</ng-template>
<ng-template #package2>
  <ng-icon size="18" class="text-slate-500" name="lucidePackage2"></ng-icon>
</ng-template>